
/*  =====================  Components ===================== */

/* HEADER */
.header { .museo500(20px, 1.6em); width:100%; background:@dark-blue; position:relative; margin-bottom:20px; color:@grey;
	.header-left { float:left; 		
		.left-link { font-size:18px; color: @grey; padding-left:6px; display:inline-block; vertical-align: top;}
		.br-icon { width:46px; height:46px; display:block; position:absolute; top:-6px; left:0;}
		.home { padding-left:50px;}
	}

	.header-right {float:right;}	
	.user-menu { position:relative; z-index:2;
		.post-report {position:relative; float: left;}
		.location-drop-down {display:none; position:absolute; top:32px; right:0;
			.locations { margin:0; }
			.location {width:188px; margin:0;}
			.notification-icons {display:none;}
			.location-inner {padding:0; border-bottom:1px solid darken(@grey,10%);}
			.name {.block-link; font-size:16px; margin:0; padding:8px; border-top:1px dotted lighten(@grey,20%); width:auto; .text-overflow(); max-width:172px; display:block;}	
			.name:hover {background:@pink;}
			.see-all {width:188px; margin:0; padding:0; float:left; margin-top:0; 
				span {display:block; font-size:16px; padding:8px; border-top:1px dotted lighten(@grey,20%); line-height:1.3em; border-bottom:1px solid darken(@grey,10%);}
			}
		}
		.user-options { background:@pink;}
		.user {display:block; }
		.username {.text-overflow(); max-width:140px; }
		.inner-user-menu {display:none; background:@grey; position:absolute; top:32px; right:0;
			li { width:150px; margin:0; border-bottom:1px solid darken(@grey,10%);}
			a { margin:0; display:block; padding:8px; border-top:1px dotted lighten(@grey,20%); font-size:16px;}
		}
	}
	&.expanded-report .user-menu {
		.location-drop-down { display:block; }
		.inner-user-menu { display:none; }
	}
	&.expanded-user-menu .user-menu {
		.inner-user-menu { display:block; }
		.location-drop-down { display:none; }
	}
}


/* LINKS */
.block-link { cursor:pointer; .museo(500); background:@grey; margin-left:3px; padding:0 6px; color:@dark-blue; display:inline-block; letter-spacing:1px; .text-highlight(); }
.block-link:hover { background:@pink; text-decoration:none; }	
.block-link.active { background:@pink;}
.no-data-post {margin-bottom:20px; }
.random {color:#FFF;}


/* FORMS */
.form-container { overflow:hidden; .rounded-corner(0 0 0 6px); background-color:@grey; clear:both; .drop-shadow();
	form { overflow:hidden; margin:10px; }
	label { display:inline-block; .text-highlight(); line-height:34px; color:@dark-blue; float:left; .museo(500); }
	input[type="submit"] { .museo500(18px, 30px); color:@pink; padding:0px 22px; margin-top:8px; float:right; }
	.field {clear:both; margin-bottom: 12px; overflow:hidden;}
	.radio-field label {width:auto; float:none; .museo300(18px, 34px);}	
	.radio-container {float:right;}
	.radio-menu span { margin-right:8px; }
	.note {.sans-serif(14px); color:@grey-blue;}	
	p {color:black;}
}
.form-head {font-size: 28px; line-height: 34px; margin-bottom: 8px; 
	a {color:#FFF; .museo(500);}
}
.form-container.expanded {display:block;}
.log-out-form { display:inline;
	input { background:none; display:inline; border:none; .text-shadow-reset(); padding:0; margin:0;}
}
.filter {padding-bottom:4px; position:relative;
	.field {margin-bottom: 8px; overflow:hidden;  }
	input {float:left;}
	.text-input {font-size:15px; height:15px; padding:5px 4px; max-width:94%;}
	input[type='submit'] {.museo500(18px, 30px); color:@pink; border:1px solid darken(@grey, 10%); padding:0px 22px; clear:both; }
	.cancel {display:none;}
	.reset { clear:both; padding:8px 0 0 4px;
		a  {color:@grey; .sans-serif(14px); text-decoration:underline; }
	}
	label {color:@grey; .sans-serif(16px,1em); float:left; margin-right:8px; padding-bottom:2px;}
}
#bot-check {height:0; visibility:hidden; border:0 none; padding:0;}


/* ICONS */
.notification-icons { display:block; position:absolute; top:6px; right:6px; 
	.icon {float:left; display:block; margin-left:1px; .bg-image('icon-sprite.png'); width:20px; height:20px; text-indent:-10000px;}
	.buoy-icon { background-position:-40px 0px;}
	.tide-icon { background-position:-20px 0px;}
}
/*.report .notification-icons {  
	.icon {.museo500(12px,12px); background:none; border:1px solid @grey; color:darken(@grey,26%); display:inline-block; height:auto; float:none; margin:0; padding:2px 3px; vertical-align:top; width:auto;}
}*/

/* LIST */
.list-title {float:left; min-width:180px;}
.grid-list-container { clear:both; position:relative;}
.outer-link {display:block; width:100%; padding:0; margin:2px 0; }
.outer-link span {padding:6px; display:block; }	
.block-list-item { width:100%; background:@dark-blue; float:left; margin:1px 0; position:relative;
	a { width:100%; display:block; .text-shadow(0px,1px,1px,rgba(0,0,0,.6)); color:#FFF; font-size:18px; line-height:1.3em; 
		.name { padding:10px 8px; display:block; .museo500(); max-width:230px; .text-overflow();}
	}
	a:hover { background:#000; text-decoration:none; }	
	&.selected { background:#000; }
	.notification-icons {top:12px;}
}

ul.items { clear:both; margin-top:10px; overflow:hidden;
	.post { position:absolute; top:0; right:0; .sans-serif(11px, 1.2em); width:auto; }
}

/* search module */
.search-container {clear:both; margin-bottom:20px;
	input {float:none;}
}


/* REPORT FEED */	
.reports-container {position:relative; }
.reports-container h2 .name {.text-overflow(); max-width:240px; display:inline-block;}
.filter-explain {color:@grey; .sans-serif(15px); margin-bottom:6px;}
.filter-explain span {border-left:1px dotted @grey; margin-left:6px; padding-left:6px;}
.report { background:lighten(@grey,12%); cursor:pointer; padding:8px 6px; .sans-serif(18px, 1.3em); color:@dark-blue; position:relative; -webkit-font-smoothing: subpixel-antialiased; margin-bottom:6px; overflow:hidden;
	a {font-weight:bold; color:@dark-blue; text-decoration:underline;}
	.loc-name {.text-overflow(); max-width:160px; display:inline-block;}
	.obs-time {margin-left:4px; font:15px georgia;}
	.quality { overflow:hidden;
		.text {font:italic 13px/18px georgia; float:left; margin-left:4px;}
		.level {float:left; height:4px; margin:7px 2px 0 0; width:26px; background-color:darken(@grey,10%);}
		&.rating1 {
			.level.one { background-color:@grey-blue; }
		}
		&.rating2 {
			.level.one,
			.level.two { background-color:@grey-blue; }
		}
		&.rating3 {
			.level.one,
			.level.two,
			.level.three { background-color:@grey-blue; }
		}
		&.rating4 {
			.level.one,
			.level.two,
			.level.three,
			.level.four { background-color:@grey-blue; }
		}
		&.rating5 {
			.level.one,
			.level.two,
			.level.three,
			.level.four,
			.level.five { background-color:@grey-blue; }
		}					
	}
	.tz {font-size:10px; color:darken(@grey,26%);}
	&.expanded .thumbnail-image {display:none;}
	.text-report {color:@dark-blue; line-height:1.4em; }
	.buoy-data-item {border-bottom:1px dotted @grey-blue;}
	.station-data-fields li { margin-left:10px; color:@dark-blue; margin-bottom:4px; font-size:15px; line-height:1.4em;}
	.station-data-fields li .label { color:@grey-blue; font-size:15px;}
	.station-head {font-size:15px; display:block; margin-bottom:6px;}
	.reporter-details {font:italic 13px georgia; margin:12px 0 8px 0;
		a {text-decoration:none;}
		a:hover {text-decoration:underline;}
	}
	&.collapsed {
		.detail-section {display:none;}
	}
	&.expanded {
		.detail-section {display:block; margin-bottom:0;}
	}
}
.report:hover {background:lighten(@grey, 20%);}
.report.collapsed:hover .click-to-expand {display:block;}
.click-to-expand { color:darken(@grey,30%); cursor:pointer;
	position:absolute; bottom:7px; right:4px; display:none;
	span {font-size:9px; line-height:9px; text-transform:uppercase; letter-spacing:2px; color:darken(@grey,12%);}
	div {font-size:11px; text-transform:uppercase; line-height:11px; letter-spacing:2px;}	
}
#new-report {background-color:@grey; margin-bottom:6px;}

/* Station list */
.station-list {
	color:@dark-blue; font-size:16px; margin-bottom:20px; border:1px dotted darken(@grey,20%); border-width:1px 0; overflow:hidden; display:block; padding-top:6px; max-height:800px; overflow-y:auto;
	h4 {margin-bottom:12px; color:@dark-blue;}
	a {float:left; width:240px; cursor:pointer; display:block;}
	a:hover {.museo(500);}
	.station-name {margin-left:10px; display:inline-block; .text-overflow(); max-width:160px;}
}

/* Sidebar Section */
.sb-section {
	border-bottom: 1px dotted #677C90; margin:10px 0; padding-bottom:10px; .sans-serif(16px); 
	h5 {color:@grey; display:inline-block; line-height:1.3em;
		.d-arrow {.bg-image('down-arrow.png', 50%, 0); background-size:50% auto; display:inline-block;}
	}
	a {color:#FFF; }	
	.no-data { font:italic 14px georgia;}
}
.toggle-btn {cursor:pointer;}
.toggle-btn:hover {color:#FFF;}
.toggle-area {display:none;}

/* Images */
.image-container {overflow:hidden;text-align:center; clear:both; margin-bottom:16px;}
.thumbnail-image {float:left; margin:0 10px 4px 0;}


/* Ajax */
.loading {.bg-image('ajax-loader.gif?v=2',50%,2px); min-height:40px; display:block; z-index:3;}
.loadec {background:none;}

/* Mobile */
.mobile-only {display:none;} //shown in media query

/* FOOTER */		
.footer { position:relative; z-index:0;
	.top { height:282px; width:100%; .bg-image('waves.png', 50%, 0, repeat-x); margin-top:-80px; }
	.bottom { min-height:120px; width:100%; background-color:@sea-blue; color:@grey; .museo500(14px); overflow:hidden; 
		.text{margin:30px 0 0 4%;}
		a { color:@grey; }
	}
}

/* OVERLAYS */
.overlay { background:@dark-blue; background:rgba(0,0,0,.9); color:#FFF; padding:4% 5%; width:80%; position:absolute; text-align:center; .rounded-corner(8px); top:0; left:5%; z-index:4; max-width:800px;
	p {color:#FFF;}
	input { .museo500(18px, 30px); color:@dark-blue; border:1px solid darken(@grey, 10%); padding:0px 22px; display:inline-block; float:none; }
	input.confirm {float:none; color:#000;}
}
.delete-form .delete-btn { border:0 none; background:0 none; color:@red; padding:0; font-size:12px; .text-shadow-reset(); .drop-shadow-reset();}
.delete-form .delete-btn:hover { border:0 none; background:0 none; color:@red; padding:0; font-size:12px; .text-shadow-reset(); text-decoration:underline; }

/* MISC */
.no-data {color:@grey; .sans-serif(); line-height: 1.2em; margin-bottom:4px;}
.submission-error {color:@red; font-size:16px; line-height: 1.2em;}
.form-container label.error {color:@red; clear:both; .sans-serif(); display:block; float:right; }
pre {color:black;}
iframe {overflow:auto;}


//not being used
.autocomplete {background:@grey; color:@dark-blue; .text-highlight();
	strong {color:#000; font-weight:normal;}
	div {padding:6px;}
	div.selected, div:hover {text-decoration:underline;}
}