.snapshot
  .mb-10
    a.location-name(ng-href="{{ '/locations/' + snapshot.locationId }}") {{ snapshot.locationName }}
    span.obs-time
      | {{ moment.unix(snapshot.obsdate).tz(snapshot.timezone).format('M/D/YY h:mm a') }}
      span.tz
        | {{ moment.tz(snapshot.timezone).format('z') }}

  ul.quality.mb-10(
    ng-if="snapshot.quality",
    ng-class="'quality-' + snapshot.quality"
  )
    li.level.level-1
    li.level.level-2
    li.level.level-3
    li.level.level-4
    li.level.level-5

  .mb-10(ng-if="snapshot.waveheight")
    | {{ snapshot.waveheight|snapshotWaveHeight }}

  .mb-20(ng-if="snapshot.text")
    | {{ snapshot.text }}

  .image.mb-20(ng-if="snapshot.imagepath")
    img(width="680px" ng-src="{{ snapshot.imagepath|snapshotImagePath }}")

  .report-details
    |report {{ snapshot.id }} by {{ snapshot.reporterName }}

