#Options +FollowSymLinks
RewriteEngine on

RewriteCond %{HTTP_HOST} ^www.bouyreport.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^bouyreport.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.buoy-report.com$ [NC]
RewriteRule ^(.*)$ http://buoy-report.com/$1 [R=301,L]


RewriteRule ^/?$ api/page/index.php [NC]
RewriteRule ^index.php$ api/page/index.php [NC]
RewriteRule ^about$ api/page/about.php [NC]
RewriteRule ^add-buoy$ api/page/add-buoy.php [NC]
RewriteRule ^add-location$ api/page/add-location.php [NC]
RewriteRule ^buoys$ api/page/buoys.php [NC]
RewriteRule ^edit-buoy$ api/page/edit-buoy.php [NC]
RewriteRule ^edit-location$ api/page/edit-location.php [NC]
RewriteRule ^edit-post$ api/page/edit-post.php [NC]
RewriteRule ^locations/([0-9]+)?/?(report)?$ api/page/location.php?location=$1&report=$2 [NC]
RewriteRule ^locations$ api/page/locations.php [NC]
RewriteRule ^login$ api/page/login.php [NC]
RewriteRule ^reports/([0-9]+)?$ api/page/post.php?id=$1 [NC]
RewriteRule ^post.php$ api/page/post.php [NC]
RewriteRule ^signup$ api/page/register.php [NC]
RewriteRule ^reporters/([0-9]+)?$ api/page/profile.php?reporter=$1 [NC]
RewriteRule ^reporters$ api/page/reporters.php [NC]