#Options +FollowSymLinks
RewriteEngine on

RewriteCond %{HTTP_HOST} ^www.bouyreport.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^bouyreport.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.buoy-report.com$ [NC]
RewriteRule ^(.*)$ http://buoy-report.com/$1 [R=301,L]


RewriteRule ^/?$ controllers/page/index.php [NC]
RewriteRule ^index.php$ controllers/page/index.php [NC]
RewriteRule ^about$ controllers/page/about.php [NC]
RewriteRule ^add-buoy$ controllers/page/add-buoy.php [NC]
RewriteRule ^add-location$ controllers/page/add-location.php [NC]
RewriteRule ^buoys$ controllers/page/buoys.php [NC]
RewriteRule ^edit-buoy$ controllers/page/edit-buoy.php [NC]
RewriteRule ^edit-location$ controllers/page/edit-location.php [NC]
RewriteRule ^edit-post$ controllers/page/edit-post.php [NC]
RewriteRule ^locations/([0-9]+)?/?(report)?$ controllers/page/location.php?location=$1&report=$2 [NC]
RewriteRule ^locations$ controllers/page/locations.php [NC]
RewriteRule ^login$ controllers/page/login.php [NC]
RewriteRule ^reports/([0-9]+)?$ controllers/page/post.php?id=$1 [NC]
RewriteRule ^post.php$ controllers/page/post.php [NC]
RewriteRule ^signup$ controllers/page/register.php [NC]
RewriteRule ^reporters/([0-9]+)?$ controllers/page/profile.php?reporter=$1 [NC]
RewriteRule ^reporters$ controllers/page/reporters.php [NC]

Header add Access-Control-Allow-Origin "*"