extends layout

block content
  .about
    h1.mb-10 Buoy Report
    span.border
    p
      | Buoy Report is a project by designer/developer Joey Hodara.
      | Originally allowing you to snapshot buoy readings from the past, the site is currently
      | focussed on providing buoy observations in a simple format to streamline your surf forecasting.
    
    p
      | Report any &#128027; to jhodara(at)gmail.com. If you would like to help with the development of Buoy Report, check out the &nbsp;

      a(target="_blank", href="https://github.com/epjoey/Buoy-Report") repo on github
