extends layout

block scripts
  script.
    window.br.buoy = !{JSON.stringify(buoy)};

  script(type="text/x-template", id="buoy")
    .buoy-data-wrap
      .buoy-data-inner-wrap
        buoy-data(:buoy="buoy", type="wave")
        buoy-data(:buoy="buoy", type="standard")

block headerLink
  a.header-link(href="/buoys/#{buoy.buoyid}") #{buoy.buoyid}: #{buoy.name}

block container
  buoy

  if isAuthenticated
    .container
      update-buoy
