extends layout
block vars
  - var bodyClass = 'location-page';

block headerLink
  a.header-link(href="/buoys/#{buoy.buoyid}") #{buoy.buoyid}: #{buoy.name}

block container
  div.buoy-data-wrap
    div.buoy-data-inner-wrap
      include ./includes/buoy-data.jade