extends layout
block vars
  - var bodyClass = 'index-page';

block content
  h1.banner Buoy Report

  div(ng-controller="LocationsCtrl")
    div.mb-20
      input(type="text" ng-model="locationSearchText" placeholder="Search Locations")

    ul.block-list
      for location in locations
        li(
          ng-if='!locationSearchText || locationMatchesSearch("#{location.locname}")'
        )
          a(href="/locations/#{location.id}")= location.locname
