block vars
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/fonts.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  - var bodyClass = '';
  block vars

  body(class='#{bodyClass}')
    div.wrapper
      block header
        div.header
          div.container
            div.left
              a(href='/')
                img.logo(src="/images/logo-lrg.png", width="46", height="46")
                img.logo-large(src="/images/logo-lrg.png", width="101", height="101")
              block headerLink
                a.header-link(href='/') Buoy Report  
            div.right
              div.dd-menu
                a.dd-trigger
                  img(src="/images/down-arrow.png", width="15", height="9")
                ul.dd-inner
                  if isAuthenticated
                    li
                      a(href="/user") My Reports
                  else
                    li
                      a(href="/login") Log in
      .container
          block content

    div.footer
      div.top
      div.bottom
        p
          a(href="http://www.hodaradesign.com", target="_blank") © hodara design 2012 &nbsp;|&nbsp;
          a(href="/about") About Buoy Report &nbsp;|&nbsp;
          a(href="/buoys") Browse Buoys &nbsp;|&nbsp;
          a(href="/reporters") Browse Reporters
        p All buoy and tide data from 
          a(href="http://noaa.gov", target="_blank") NOAA
