block vars
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/fonts.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.33/moment-timezone-with-data-10-year-range.js")

    script(src="/javascripts/directives.js")
    script(src="/javascripts/controllers.js")
    script(src="/javascripts/app.js")

  - var bodyClass = '';
  block vars

  body(class='#{bodyClass}', ng-app='app')
    div.wrapper
      div.header
        div.container
          div.header-left
            a(href='/')
              img.logo(src="/images/logo-lrg.png", width="46", height="46")
              img.logo-large(src="/images/logo-lrg.png", width="101", height="101")
            block headerLink
              a.header-link(href='/') Buoy Report  
          div.header-right
            div.header-menu(ng-init="menuCtrl = { isOpen: false }")
              a.header-menu-trigger(ng-click="menuCtrl.isOpen = !menuCtrl.isOpen")
                img(src="/images/down-arrow.png", width="15", height="9")
              ul.header-menu-inner(
                ng-class="menuCtrl.isOpen ? 'open' : ''"
              )
                block headerMenuItems

                if isAuthenticated
                  li
                    a(href="/me") My profile
                  li
                    a(href="/logout") Logout
                else
                  li
                    a(href="/login") Log in

      block container
        .container
            block content

    div.footer
      div.top
      div.bottom
        p
          a(href="http://www.hodaradesign.com", target="_blank") © hodara design 2012 &nbsp;|&nbsp;
          a(href="/about") About Buoy Report &nbsp;|&nbsp;
          a(href="/buoys") Browse Buoys &nbsp;|&nbsp;
          a(href="/reporters") Browse Reporters
        p All buoy and tide data from 
          a(href="http://noaa.gov", target="_blank") NOAA
