block vars
doctype html
html
  head
    title Buoy Report
    link(rel="icon", href="/images/favicon.ico", type="image/x-icon")

    link(rel="apple-touch-icon", sizes="57x57", href="/images/apple-touch-icon.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/images/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/images/apple-touch-icon-114x114.png")
    link(rel="stylesheet", href="/stylesheets/fonts.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css")

    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

    script(src="https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js")
    script(src="https://cdn.jsdelivr.net/npm/moment-timezone@0.5.43/builds/moment-timezone-with-data.min.js")      

    script(src="https://cdn.jsdelivr.net/npm/vue@2.6.14")
    script(src="https://cdn.jsdelivr.net/npm/vue-router@3.6.5/dist/vue-router.min.js")

    script.
      Vue.prototype.$moment = window.moment;
      Vue.prototype.$user = !{ JSON.stringify(user) };
      Vue.prototype.$nodeEnv = '!{ NODE_ENV }';

  body

    .wrapper(id="app", :class="$route.path === '/' ? 'index-page' : $route.path.startsWith('/locations/') ? 'location-page' : ''")

      .header
        .container
          .header-left
            router-link(to="/")
              img.logo(src="/images/logo-lrg.png", width="46", height="46")
              img.logo-large(src="/images/logo-lrg.png", width="101", height="101")

            router-link.header-link(
              v-cloak,
              v-if="buoy",
              :to="'/buoys/' + buoy.buoyid"
            ) {{ buoy.buoyid + ': ' + buoy.name}}

            router-link.header-link(
              v-cloak,
              v-else-if="location",
              :to="'/locations/' + location.id",
              :class="location.$isFavorite ? 'favorite' : 'not-favorite'"
            )
              | {{ location.name }}
              if isAuthenticated
                | &nbsp;
                span.star(v-on:click.stop.prevent="toggleFavorite(location)") &starf;

            router-link.header-link(v-else, to='/') Buoy Report

          .header-right
            .header-menu
              a.header-menu-trigger(v-on:click="isMenuOpen = !isMenuOpen")
                img(src="/images/down-arrow.png", width="15", height="9")
              ul.header-menu-inner(
                v-bind:class="{ open: isMenuOpen }"
              )
                if isAuthenticated
                  li(v-if="location")
                    a(@click="scrollTo('add-snapshot')") Take snapshot

                if isAuthenticated
                  li
                    router-link(to='/me') My snapshots
                  li
                    a(href="/logout") Logout
                else
                  li
                    a(href='/login') Login

      block content

    div.footer
      div.top
      div.bottom
        p
          a(href="http://www.hodaradesign.com", target="_blank") © hodaradesign 2027
          | &nbsp;|&nbsp;
          a(href="/about") About
          | &nbsp;|&nbsp;
          a(href="/buoys") Buoys
        p All buoy and tide data from
          a(href="http://noaa.gov", target="_blank")  NOAA

    include ./templates/index.jade

    //- Include vue stuff.
    script(src="/main.js")