extends layout
block vars
  - var bodyClass = 'location-page';

block scripts
  script.
    window.br.location = !{JSON.stringify(location)};

  script(type="text/x-template", id="location-header-link")
    a.header-link(
      :href="'/locations/' + location.id",
      :class="location.$isFavorite ? 'favorite' : 'not-favorite'"
    )
      {{ location.name }}
      if isAuthenticated
        &nbsp;
        span.star(v-on:click.stop.prevent="toggleFavorite(location)") &starf;

block headerLink
  location-header-link

block headerMenuItems
  if isAuthenticated
    li
      a(v-on:click="scrollTo('add-snapshot')") Take snapshot

block container
  location
