extends layout

block content
  .snapshots(ng-snapshots)
    div(ng-repeat="snapshot in snapshots")
      include ./includes/snapshot.jade

    .info.mb-20(ng-if="page && !snapshots.length") No snapshots &#128546;
    .text-center
      a.btn(
        ng-disabled="loading || isLastPage"
        ng-click="load()"
      ) Load {{ snapshots.length ? 'more' : 'snapshots' }}
