extends layout

block content
  .info
    p
      | Dear Buoy Reporter, snapshotting of buoy data is currently unavailable until further notice. &#128580; We are sorry for the inconvenience. Past snapshots are available below. Email joey (jhodara at gmail.com) to request the feature back.

  .snapshots
    for snapshot in snapshots.rows
      include ./includes/snapshot.jade