form.form
  .field
    label
      span
        a(href="http://www.ndbc.noaa.gov/rmd.shtml", target="_blank") Buoy ID
      input(type='text', v-model='req.buoyid', required)

  .field
    label
      span Name
      input(type='text', v-model='req.name')

  .field.errors(v-if="error") {{ error }}

  .field.text-center
    span.btn.cancel(v-on:click="$emit('add-buoy:close')") Cancel
    | &nbsp;
    input.btn.submit(
      type="submit",
      v-on:click="submit()",
      :disabled="loading || invalid()"
      value="Submit"
    )