form.form
  include ./location-fields.jade
  
  .field.errors(v-if="error") {{ error }}

  .field.text-center.mt-20
    span.btn.left.cancel(v-on:click="$emit('add-location:close');") Cancel
    | &nbsp;
    input.btn.right.submit(
      type="submit",
      v-on:click="submit()",
      :disabled="loading || invalid()",
      value="Submit"
    )
    .clear
