script(type="text/x-template", id="locations")
  include ./locations.jade

script(type="text/x-template", id="location")
  include ./location.jade

script(type="text/x-template", id="add-location")
  include ./add-location.jade

script(type="text/x-template", id="update-location")
  include ./update-location.jade

script(type="text/x-template", id="buoy-data")
  include ./buoy-data.jade

script(type="text/x-template", id="snapshots")
  include ./snapshots.jade

script(type="text/x-template", id="snapshot")
  include ./snapshot.jade

script(type="text/x-template", id="add-snapshot")
  include ./add-snapshot.jade

script(type="text/x-template", id="update-snapshot")
  include ./update-snapshot.jade

script(type="text/x-template", id="snapshot-fields")
  include ./snapshot-fields.jade

script(type="text/x-template", id="buoys")
  include ./buoys.jade

script(type="text/x-template", id="add-buoy")
  include ./add-buoy.jade

script(type="text/x-template", id="update-buoy")
  include ./update-buoy.jade
