div(v-if="location")
  .buoy-data-wrap
    .buoy-data-inner-wrap

      .view-toggle-wrapper
        .view-toggle
          button.view-toggle__btn(
            :class="{ 'is-active': !mapEnabled }"
            @click="mapEnabled = false"
          ) Tables

          button.view-toggle__btn(
            :class="{ 'is-active': mapEnabled }"
            @click="mapEnabled = true"
          ) Map


      buoy-map(
        v-if="mapEnabled",
        :center="{ lat: location.latitude, lon: location.longitude }"
      )

      template(v-else)
        .buoy-data.windy-view.mb-20
          iframe(
            width="320",
            :height="screenWidth() > 680 ? 568 : 320",
            :src="'https://embed.windy.com/embed2.html?lat=' + location.latitude + '&lon=' + location.longitude + '&zoom=8'"
            frameborder="0"
          )

        template(v-for="buoy in buoys")
          buoy-data(:buoy="buoy", :location="location", type="wave")
          buoy-data(:buoy="buoy", :location="location", type="standard")


  snapshots(:location="location")        
  
  if isAuthenticated
    .container.mt-20
      update-location(:location="location", :buoys="buoys")

