form.form
  .text-center.mb-20.form-title Configure location

  include ./location-fields.jade

  .field.errors(v-if="error") {{ error }}

  .btns
    input.btn.submit(
      type="submit",
      v-on:click="submit()",
      :disabled="loading || invalid()",
      value="Submit"
    )

    button.btn.delete.right.btn-small(
      v-if="$user.email === location.email || $user.isAdmin"
      v-on:click="deleteLocation()",
      :disabled="loading"
    ) Delete Location
  .clear

