/*================================*/
/* RESET */
/*================================*/
/*================================*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*================================*/
/* BASIC */
/*================================*/
/*================================*/
body {
  font: 20px / 1.3em 'Museo300', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  outline: 0;
}
p { margin: 0; }

input[type="text"],
input[type="password"],
input[type="email"], textarea, select {
    border: 1px solid #899baa;
    padding: 6px 4px;
    outline: none;
    border-radius: 4px;
    background-clip: padding-box;
    font-size: 18px;
    font-family: 'Lucida Grande';
    margin: 0;
    width: 97%;
    max-width: 270px;
    display: block;
    background: #ffffff;
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 40%);
}

/*================================*/
/* HELPERS */
/*================================*/
/*================================*/
.left { float: left; }
.right { float: right; }
.mb-20 { margin-bottom: 20px; }

/*================================*/
/* Wrapper/container */
/*================================*/
/*================================*/
.wrapper {
  background: #0a3660;
  min-height: calc(100vh - 380px); /* subtract footer height */
  width: 100%;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0;
}

@media only screen and (min-width: 960px){
  .container {
    width: 960px;
  }
}

/*================================*/
/* HEADER */
/*================================*/
/*================================*/
.header {
  font: 20px / 1.6em 'Museo500', 'Helvetica Neue', sans-serif;
  width: 100%;
  background: #06223c;
  position: relative;
  margin-bottom: 20px;
  color: #adb9c4;
  height: 32px;
}
.header .container {
  display: flex;
}
.header .logo {
  position: absolute;
  top: -4px;
  left: 1px;
}
.header .logo-large { display: none; }
.header-left {
  flex: 1 1 80%;
  overflow: hidden;
}
.header-right { flex: 1 1 20%; }
.header .header-link {
  margin-left: 56px;
  color: white;
  font-size: 18px;
  line-height: 32px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 106px); /* logo on left, trigger on right */
  position: absolute;
  overflow: hidden;
}
.header-menu-inner {display: none;}
.header-menu-inner.show {display: block;}
.header-menu-trigger {
  cursor: pointer;
  background: #adb9c4;
  display: block;
  height: 32px;
  width: 40px;
  text-align: center;
}



/*================================*/
/* FOOTER */
/*================================*/
/*================================*/
.footer {
  height: 380px; /* The footer is pushed down by the wrapper height */
  background: #0a3660;
}
.footer .top {
  height: 280px;
  background: url(/images/waves.png) 50% 0 repeat-x transparent;
}
.footer .bottom {
  background-color: #0004d8;
  color: #adb9c4;
  font: 14px / 1.3em 'Museo500', 'Helvetica Neue', sans-serif;
  overflow: hidden;
  padding-top: 40px;
  padding-left: 20px;
  height: 60px;
}
.footer a { color: #adb9c4; }
.footer p { margin-bottom: 4px; }


/*================================*/
/* BLOCK LISTS */
/*================================*/
/*================================*/
.block-list {
  overflow: hidden;
  list-style: none outside;
  margin: 0;
  padding: 0;
  border: 0;
}
.block-list > li {
  width: 100%;
  margin: .15%;
  background: #06223c;
  float: left;
  position: relative;
  line-height: 18px;
  display: block;
}
@media only screen and (min-width: 768px){
  .block-list > li {
    width: 33%;
  }
}

.block-list > li > a,
.block-list > li > span {
  display: block;
  text-shadow: 0px 1px 1px rgb(0 0 0 / 60%);
  color: #ffffff;
  font-size: 18px;
  line-height: 1.3em;
  padding: 10px 8px;
  font: 20px / 1.3em 'Museo500', 'Helvetica Neue', sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.block-list > li > a:hover {
  background: #000;
  text-decoration: none;
}


/*================================*/
/* INDEX PAGE */
/*================================*/
/*================================*/
.index-page .header .logo-large { display: none; }
.index-page .banner { display: none; }
@media only screen and (min-width: 960px){
  .index-page .header { margin-bottom: 46px; }
  .index-page .header .logo { display: none; }
  .index-page .header-link { display: none; }
  .index-page .header .logo-large {
    display: block;
    position: absolute;
    top: -10px;
    left: -30px;
  }
  .index-page .banner {
    display: block;
    font: 49px / .8em 'MuseoSlab500', 'Museo500', 'Helvetica Neue', sans-serif;
    -webkit-text-shadow: 0 2px 2px rgba(0,0,0,0.6);
    -moz-text-shadow: 0 2px 2px rgba(0,0,0,0.6);
    text-shadow: 0 2px 2px rgb(0 0 0 / 60%);
    text-transform: uppercase;
    margin: 0px 0 20px 0;
    letter-spacing: -1px;
    color: #ffffff;
  }
}


/*================================*/
/* LOCATION PAGE PAGE */
/*================================*/
/*================================*/
.location-page .header > .container { width: auto; } /* header full-width cause it looks cool */


/*================================*/
/* Buoy View */
/*================================*/
/*================================*/
.buoy-view-wrap {
  max-width: 96%;
  overflow-x: auto;
  margin: 0 2%;
}
.buoy-view-inner-wrap {
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
}
.buoy-view {
  font-family: helvetica, arial;
  width: 320px;
  display: inline-block;
  vertical-align: top;
}
@media only screen and (min-width: 400px){
  .buoy-view { padding-right: 40px; }
}
.buoy-view h3 a {
  display: block;
  text-align: center;
  color: white;
  font-size: 13px;
  font-weight: bold;
  line-height: 13px;
  min-height: 26px;
  margin-bottom: 4px;
}
.buoy-view .table-wrap {
  max-height: 600px;
  overflow-y: auto;
  margin-bottom: 45px;
}
.buoy-view table {
  max-width: 320px;
  width: 100%;
}
.buoy-view thead {
  background: rgba(255,255,255,0.35);
  border-bottom: 2px solid #06223c;
}
.buoy-view tr {
  border-left: 4px solid #06223c;
}
.buoy-view thead tr:first-child th {
  padding-top: 4px;
}
.buoy-view th {
  text-align: left;
  color: black;
  font-weight: bold;
  font-size: 11px;
  line-height: 12px;
  padding-right: 2px;
  padding-left: 4px;
}
.buoy-view .units th {
  font-size: 8px;
  line-height: 12px;
  text-transform: uppercase;
}
.buoy-view tbody tr:nth-child(odd) {
  background: rgba(255,255,255,0.1);
}
.buoy-view td {
  color: white;
  font-size: 13px;
  line-height: 22px;
  text-align: left;
  padding-right: 2px;
}
.buoy-view td sub {
  font-size: 9px;
  line-height: 12px;
  display: inline-block;
  padding-left: 2px;
}
.buoy-view td.swell-period {
  width: 36px;
}
.buoy-view td:first-child,
.buoy-view th:first-child {
  padding-left: 4px;
  width: 96px;
}
.buoy-view .paginate {
  color: white;
  font-size: 12px;
  padding: 6px 0;
  cursor: pointer;
  background: #06223c;
  width: 100%;
  text-align: center;
  display: block;
  line-height: 12px;
}
.buoy-view .loading,
.buoy-view .no-data {
  color: white;
  font-size: 12px;
  padding: 6px 0;
  width: 100%;
  text-align: center;
}