/*================================*/
/* RESET */
/*================================*/
/*================================*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul { list-style: none outside; }

/*================================*/
/* BASIC */
/*================================*/
/*================================*/
body {
  font: 20px / 1.3em 'Museo300', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  outline: 0;
}
p { margin: 0; }

input[type="text"],
input[type="password"],
input[type="email"], textarea, select {
  border: 1px solid #899baa;
  padding: 6px 4px;
  outline: none;
  border-radius: 4px;
  background-clip: padding-box;
  font-size: 18px;
  font-family: 'Lucida Grande';
  margin: 0;
  width: 97%;
  max-width: 270px;
  display: block;
  background: #ffffff;
  box-shadow: inset 0 1px 2px rgb(0 0 0 / 40%);
}

/*================================*/
/* HELPERS */
/*================================*/
/*================================*/
.left { float: left; }
.right { float: right; }
.clear { clear: both; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.mb-10 { margin-bottom: 10px; }
.mb-20 { margin-bottom: 20px; }
.link { cursor: pointer; }
.link:hover { text-decoration: underline; }

/*================================*/
/* Wrapper/container */
/*================================*/
/*================================*/
.wrapper {
  background: #0a3660;
  min-height: calc(100vh - 380px); /* subtract footer height */
  width: 100%;
}

.container {
  position: relative;
  width: 98%;
  margin: 0 auto;
  padding: 0;
}

@media only screen and (min-width: 960px){
  .container {
    width: 960px;
  }
}

/*================================*/
/* HEADER */
/*================================*/
/*================================*/
.header {
  font: 20px / 1.6em 'Museo500', 'Helvetica Neue', sans-serif;
  width: 100%;
  background: #06223c;
  position: relative;
  margin-bottom: 20px;
  color: #adb9c4;
  height: 32px;
}
.header .container {
  display: flex;
}
.header .logo {
  position: absolute;
  top: -4px;
  left: 0px;
}
.header .logo-large { display: none; }
.header-left {
  flex: 1 1 80%;
  overflow: hidden;
}
.header-right { flex: 1 1 20%; }
.header .header-link {
  margin-left: 52px;
  color: white;
  font-size: 18px;
  line-height: 32px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 106px); /* logo on left, trigger on right */
  position: absolute;
  overflow: hidden;
}
.header-menu {
  float: right;
  position: relative;
  z-index: 2;
}
.header-menu-trigger {
  cursor: pointer;
  background: #adb9c4;
  display: block;
  height: 32px;
  width: 40px;
  text-align: center;
}
@media only screen and (min-width: 768px){
  .header-menu-trigger:hover {
    background: #cc09d6;
    text-decoration: none;
  }
}
.header-menu-inner {
  background: #adb9c4;
  position: absolute;
  top: 32px;
  right: 0;  
  display: none;
  min-width: 140px;
}
.header-menu-inner.open {display: block;}
.header-menu-inner > li {
  margin: 0;
  border-bottom: 1px solid #8fa0af;
}
.header-menu-inner > li > a {
  margin: 0;
  display: block;
  padding: 8px 16px;
  border-top: 1px dotted #e8ecef;
  font-size: 16px;
  color: #06223c;
  letter-spacing: 1px;
  text-shadow: 0 1px 0px rgb(255 255 255 / 40%);
  text-align: right;
  white-space: nowrap;
}
@media only screen and (min-width: 768px){
  .header-menu-inner > li > a:hover {
    background: #cc09d6;
    text-decoration: none;
  }
}



/*================================*/
/* FOOTER */
/*================================*/
/*================================*/
.footer {
  height: 380px; /* The footer is pushed down by the wrapper height */
  background: #0a3660;
}
.footer .top {
  height: 280px;
  background: url(/images/waves.png) 50% 0 repeat-x transparent;
}
.footer .bottom {
  background-color: #0004d8;
  color: #adb9c4;
  font: 14px / 1.3em 'Museo500', 'Helvetica Neue', sans-serif;
  overflow: hidden;
  padding-top: 40px;
  padding-left: 20px;
  height: 60px;
}
.footer a { color: #adb9c4; }
.footer p { margin-bottom: 4px; }


/*================================*/
/* BLOCK LISTS */
/*================================*/
/*================================*/
.block-list {
  overflow: hidden;
  list-style: none outside;
  margin: 0;
  padding: 0;
  border: 0;
}
.block-list > li {
  margin: 0 auto 2px;
  background: #06223c;
  position: relative;
  line-height: 18px;
  display: block;
}
@media only screen and (min-width: 768px){
  .block-list > li {
    float: left;
    width: 33%;
  }
}

.block-list > li > a,
.block-list > li > span {
  display: block;
  text-shadow: 0px 1px 1px rgb(0 0 0 / 60%);
  color: #ffffff;
  font-size: 18px;
  line-height: 1.3em;
  padding: 10px 8px;
  font: 20px / 1.3em 'Museo500', 'Helvetica Neue', sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.block-list > li > a:hover {
  background: #000;
  text-decoration: none;
}


/*================================*/
/* INDEX PAGE */
/*================================*/
/*================================*/
.index-page .header .logo-large { display: none; }
.index-page .banner { display: none; }
.index-page .search-locations { float: left; width: 54%; }
.index-page .add-location {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Museo500', 'Helvetica Neue', sans-serif;
  display: inline-block;
  padding: 4px 8px;
  float: right;
}
@media only screen and (max-width: 480px){
  .index-page .add-location { font-size: 16px }
}
@media only screen and (min-width: 960px){
  .index-page .header { margin-bottom: 46px; }
  .index-page .header .logo { display: none; }
  .index-page .header-link { display: none; }
  .index-page .header .logo-large {
    display: block;
    position: absolute;
    top: -10px;
    left: -30px;
  }
  .index-page .banner {
    display: block;
    font: 49px / .8em 'MuseoSlab500', 'Museo500', 'Helvetica Neue', sans-serif;
    -webkit-text-shadow: 0 2px 2px rgba(0,0,0,0.6);
    -moz-text-shadow: 0 2px 2px rgba(0,0,0,0.6);
    text-shadow: 0 2px 2px rgb(0 0 0 / 60%);
    text-transform: uppercase;
    margin: 0px 0 20px 0;
    letter-spacing: -1px;
    color: #ffffff;
  }
}


/*================================*/
/* LOCATION PAGE */
/*================================*/
/*================================*/
.location-page .header {margin-bottom: 40px;}

/*================================*/
/* Buoy View */
/*================================*/
/*================================*/
.buoy-view-wrap {
  max-width: 100%;
  overflow-x: auto;
  margin: 0 auto;
}
.buoy-view-inner-wrap {
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
}
.buoy-view {
  font-family: helvetica, arial;
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto 20px;
  display: inline-block;
  vertical-align: top;
}
@media only screen and (min-width: 400px){
  .buoy-view {
    margin-right: 10px;
    margin-left: 10px;
  }
}
.buoy-view h3 a {
  display: block;
  text-align: center;
  color: white;
  font-size: 13px;
  font-weight: bold;
  line-height: 13px;
  min-height: 26px;
  margin-bottom: 4px;
}
.buoy-view .table-wrap {
  max-height: 600px;
  overflow-y: auto;
  overflow-x: auto;
  margin-bottom: 45px;
  width: 320px;
}
.buoy-view table {
  max-width: 320px;
  width: 100%;
}
.buoy-view thead {
  background: rgba(255,255,255,0.35);
  border-bottom: 2px solid #06223c;
}
.buoy-view tr {
  border-left: 4px solid #06223c;
}
.buoy-view thead tr:first-child th {
  padding-top: 4px;
}
.buoy-view th {
  text-align: left;
  color: black;
  font-weight: bold;
  font-size: 11px;
  line-height: 12px;
  padding-right: 2px;
  padding-left: 4px;
}
.buoy-view .units th {
  font-size: 8px;
  line-height: 12px;
  text-transform: uppercase;
}
.buoy-view tbody tr:nth-child(odd) {
  background: rgba(255,255,255,0.1);
}
.buoy-view td {
  color: white;
  font-size: 13px;
  line-height: 22px;
  text-align: left;
  padding-right: 2px;
}
.buoy-view td sub {
  font-size: 9px;
  line-height: 12px;
  display: inline-block;
  padding-left: 2px;
}
.buoy-view td.swell-period {
  width: 36px;
}
.buoy-view td:first-child,
.buoy-view th:first-child {
  padding-left: 4px;
  width: 96px;
}
.buoy-view .paginate {
  color: white;
  font-size: 12px;
  padding: 6px 0;
  cursor: pointer;
  background: #06223c;
  width: 100%;
  text-align: center;
  display: block;
  line-height: 12px;
}
.buoy-view .loading,
.buoy-view .no-data {
  color: white;
  font-size: 12px;
  padding: 6px 0;
  width: 100%;
  text-align: center;
}

/*================================*/
/* Snapshots */
/*================================*/
/*================================*/
.snapshots {
  overflow: hidden
}
.snapshot {
  background: #e8ecef;
  padding: 10px 12px 16px;
  font: normal 18px / 1.4em 'Helvetica Neue', arial, sans-serif;
  color: #06223c;
  font-smoothing: subpixel-antialiased;
  margin:0 auto 6px;
  overflow: hidden;
  border-top: 2px solid #ffffff;
  max-width: 680px;
  border-radius: 5px;
  box-sizing: border-box;
}
.snapshot a {
  font-weight: bold;
  color: #06223c;
  text-decoration: underline;  
}
.snapshot .obs-time {
  display: inline-block;
  margin-left: 12px;
  font: 16px georgia;  
}
.snapshot .obs-time .tz {
  display: inline-block;
  margin-left: 8px;
  font: 12px georgia;
  color: #637789;
}
.snapshot .quality {
  overflow: hidden;
}
.snapshot .quality .level {
  float: left;
  height: 4px;
  margin: 7px 2px 0 0;
  width: 26px;
  background-color: #8fa0af;
}
.snapshot .quality.quality-1 .level-1,
.snapshot .quality.quality-2 .level-1,
.snapshot .quality.quality-2 .level-2,
.snapshot .quality.quality-3 .level-1,
.snapshot .quality.quality-3 .level-2,
.snapshot .quality.quality-3 .level-3,
.snapshot .quality.quality-4 .level-1,
.snapshot .quality.quality-4 .level-2,
.snapshot .quality.quality-4 .level-3,
.snapshot .quality.quality-4 .level-4,
.snapshot .quality.quality-5 .level-1,
.snapshot .quality.quality-5 .level-2,
.snapshot .quality.quality-5 .level-3,
.snapshot .quality.quality-5 .level-4,
.snapshot .quality.quality-5 .level-5 {
  background-color: #0a3660;
}
.snapshot .image {
  overflow: hidden;
  text-align: center;
}
.snapshot .report-details {
  font: italic 13px georgia;
}


/*------=- INFO -=---------*/
.info {
  background: #e8ecef;
  padding: 12px;
  font: normal 16px / 1.4em 'Helvetica Neue', arial, sans-serif;
  color: #06223c;
  margin: 0 auto 32px;
  font-smoothing: subpixel-antialiased;
  max-width: 600px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid darkorange;
}


/*------=- ABOUT PAGE -=---------*/
.about {
  max-width: 600px;
  margin: 32px auto 0;
}
.about h1 {
  text-align: center;
  font-size: 42px;
  color: white;
}
.about p {
  color: #adb9c4;
  line-height: 1.5em;
  text-shadow: 0 1px 1px rgb(0 0 0 / 20%);
  margin-top: 8px;
}
.about p > a { font-weight: 500; color: white; }
.about .border {
  border-top: 2px dotted #06223c;
  width: 30%;
  margin: 16px auto;
  height: 0;
  display: block;
}


/*-------- FORMS ---------*/
.form-title {
  max-width: 680px;
  color: #e8ecef;
  font: 24px / 32px 'Museo300', 'Helvetica Neue', sans-serif;
  margin:0 auto 20px;
}
.form {
  background: #e8ecef;
  padding: 16px;
  font: normal 18px / 1.4em 'Helvetica Neue', arial, sans-serif;
  color: #06223c;
  font-smoothing: subpixel-antialiased;
  border-top: 2px solid #ffffff;
  width: 98%;
  max-width: 680px;
  margin: 0 auto;
  border-radius: 5px;
  box-sizing: border-box;
}
.form .field {margin-bottom: 8px;}
.form .field > label > span {
  display: inline-block;
  float: left;
  line-height: 35px;
  margin-right: 20px;
}
.form .btns { margin-top: 20px; }
@media only screen and (min-width: 620px){
  .form .field > label > span {
    text-align: right;
    min-width: 200px;
  }
  .form .btns { text-align: center; }
}
.form .errors {
  list-style: none;
  color: darkred;
  text-align: center;
  background: white;
  border-radius: 5px;
  padding: 6px;
  border: 1px solid darkred;  
}

/*---------------  Buttons ------------*/
.btn {
  font: 18px / 30px 'Museo500', 'Helvetica Neue', sans-serif;
  padding: 0px 18px;
  border: 1px solid #8698a8;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  margin: 0 0 4px 0;
  text-shadow: 0 1px 0px rgb(255 255 255 / 80%);
  border-radius: 3px;
  background-clip: padding-box;
  background: #ffffff;
  background: linear-gradient(bottom,#adb9c4 0%,#ffffff 100%);
  box-shadow: inset 0 0 3px rgb(255 255 255 / 40%);
}
.btn.submit {
  color: #cc09d6;
}
.btn.cancel {
  color: #06223c;
}
.btn.delete {
  color: darkred;
}
.btn[disabled] {
  color: grey;
}

